include engin

h2.text-primary 条件语句
p pug支持JS的条件语句，不过可以省略括号
+twins
	+source
		|- var user = {description: "foo bar baz"}
		|- var authorised = false		
		|#user
		|	if user.description
		|		h2 Description
		|		p.description= user.description
		|	else if authorised
		|		h2 Description
		|		p.description.
		|			User has no description,
		|			why not add on...
		|	else
		|		h1 Description
		|		p.description User has no description
	+result
		|&lt;h2&gt;Description&lt;/h2&gt;
		|&lt;p class="description"&gt;foo bar baz&lt;/p&gt;

p 另外还支持
	code unless
	|语句
+twins
	+source
		|unless user.isAnonymous
		|	p you are login as ${user.name}
	+result
		|if !user.isAnonymous
		|	p you are login as ${user.name}			