extends layout


block title 
	title pug（jade） 文档

block content
	include engin 
	.container
		h1(style={width: "500px"}).text-primary.center-block pug（jade） 文档
		include attributes
		+break
		include case
		+break
		include code
		+break
		include comments
		+break
		include conditional
		+break
		include doctype
		+break
		include extends
		+break
		include filters
		+break
		include includes
		+break
		include inheritance
		+break
		include interpolation
		+break
		include iteration
		+break
		include mixins
		+break
		include plain-text
		+break
		include tag
		+break
		include note		